:root {
	--timing1: 400;	/* For most actions */
	--timing2: 600;	/* Display of images */
	--timing3: 300;	/* Display of description */

	--divDW: 600;
	--divDH: 400;

	--selectedStrokeColor: #f42;	/* Search result path */

	--nodeFontSize: 12;		/* Font size for text nodes */

	--maxNodesExpand: 15;		/* On search item, expand children only
					 * if # < to value.
					 * The goal is to avoid opening too many
					 * nodes lost 
					 */
	--bgimage: url(/images/bg.png);
	--bgcolor: lavender;

	--ttOpacity: 0.9;
	--ttTiming: 50;

	--iconWidth: 10;
	--iconHeight: 10;
	--iconBel: /images/bel.png;
	--iconLux: /images/lux.png;
	--iconFra: /images/fra.png;
	--iconAct: /images/active.svg;

	--circleUpCol: #6f6;	/* Running zone */
	--circleDownCol: #f66;	/* Installed zone (down) */
	--circleDmzCol: #ff0;	/* DMZ */
	--circleConfCol: #444;	/* Configured zone */

	--circleChildImgCol: orange;
	--circleChildCol: #8cd;
	--circleImgCol: orange;
	--circleCol: #fff;

	--circleTipChildImgCol: blue;
	--circleTipChildCol: lightsteelblue;
	--circleTipImgCol: blue;
	--circleTipCol: #fff;
	--circleActiveCol: #ff0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: sans-serif;
	background-attachment: fixed;
// Not in IE	background-image: var(--bgimage, url(/images/bg.png));
// Not in IE	background-color: var(--bgcolor, lavender);
	background-image: url(/images/bg.png);
	background-color: lavender;
//	filter: drop-shadow(0px 0px 4px #cef);
}

body#restricted {
	background-image: none;
	background-color: #fcf8d8;
}
body#restricted:hover {
	background-image: url(/images/bg.png);
	background-color: #f8f0d8;
}

#logo {
	position: fixed;
	padding-left: 10px;
	padding-top: 10px;
	z-index: 2;
//	pointer-events: none;
}
#logo h2 {
	color: #6699db;
//	color: transparent;
	text-shadow: 0px 0px 1px rgba(52,152,219,0.5);
	margin: 0;
	padding-left: 28px;
	font-size: 1.2em;
	line-height: 1;
	text-align: left;
	filter: drop-shadow(2px 5px 3px rgba(25,25,127, 0.3));
}
#logo h2:hover {
	text-shadow: 0px 0px 0px rgba(52,152,219,0.8);
}

#logo h2 span#tt{
	width:300px;
	position: absolute;
	text-align:justify;
	font-size: .75em;
	font-weight: normal;
	color:#fff;
//	background:rgba(41,137,216, 0.75);
	background: linear-gradient(to bottom , rgba(40,160,220, 0.67) 25%, rgba(22,100,200, 0.75) 90%);
	box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
	padding:20px;
	border:1px solid #1E5799;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	z-index:10;
	margin-left:-400px;
	opacity:0;
	transition-property: margin-left,opacity;
	transition-delay: 0s;
	transition-timing-function: ease-out;
}
#logo h2 span#tt a {
	color: #dff;
}
#logo h2 span#tt.restr{
//	background:rgba(11,180,192, 0.75);
	background: linear-gradient(to bottom , rgba(77,192,210, 0.67) 15%, rgba(11,180,192, 0.75) 90%);
	border: 1px solid #0b9a9a;
}
#logo h2:hover span#tt{
	margin-left:0px;
	opacity:1;
	transition-delay: 0.75s;
	transition-duration: 0.5s;
}
#logo #tt b {
	font-size: 1.1em;
	letter-spacing: 1px;
	font-weight: bold;
	color:yellow;
}
#logo #tt small {
	font-size: .8em;
	color:lightcyan;
}

#logo h3#LastUpdt {
	margin: 0;
	padding: 5px 0 5px 28px;
	color: #34495E;
	font-size: .60em;
	line-height: .8;
	color: #b40;
	filter: drop-shadow(2px 5px 3px rgba(25,25,127, 0.3));
}

#Lfooter, #Rfooter {
	position: fixed;
	bottom: 0;
	padding: 10px;
	pointer-events: none;
	z-index: -1;
}
#Lfooter {
	left: 0;
}
#Rfooter {
	right: 0;
}
#Lfooter img, #Rfooter img {
	height: 50px;
}

/*
 * Options zone
 */
#options {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 2;
}

.flex-cont-options {
	display: -webkit-flex;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: flex-start;
	font-size: .8em;
}

.flex-item-options {
/*	padding: 5px 0px 0px 0px; */
	align-self: flex-start;
	margin-left: 2px;
}

/*
 * Search related
 */
#searching {
	float: left;
	margin: 5px 5px 0px 0px;
	color: #c9c9b5;
/*	width: 110px; */
}

div#clearResult {
	float : right;
	color: gray;
	cursor: pointer;
	margin-top : 5px;
	padding-left: 5px;
	border-left: 1px solid darkgray;
}

div#clearResult:hover {
	color: red;
	text-decoration: underline;
}

input#searchField {
	width: 100px;
	float: right;
	text-align: center;
}

input[type="text"],input[type="number"] {
	border-radius: 4px;
	padding: 1px 4px;
/*
	background-image: var(--bgimage);
	background-color: var(--bgcolor);
	background-color: transparent;
*/
	background-color: rgba(245,250,255,0.8);
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
input[type="text"]:focus,
input[type="text"]:hover,
input[type="number"]:focus,
input[type="number"]:hover {
	border-radius: 20px;
	background: #e8f4fb;
	background-image: none;
	color: #f00;
	outline-style: unset;
/*	outline: white auto 3px; */
}

input[type="button"] {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 200;
	margin-bottom: 2px;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 4px;
	text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
	overflow: hidden;
	background: #05A;
//	background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
//	background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
//	background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
//	background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	filter: drop-shadow(2px 2px 2px #48A);
}
input[type="button"]:hover {
	color: #ff4;
	filter: none;
}
input[type="button"]:active {
	color: #4f8;
	filter: drop-shadow(-2px -2px 2px #48A);
}
/*
 * End options zone
 */


/*
 * SVG tree
 */
#tree-container {
	position: fixed;
	padding: 0px;
	background-image: none;
	z-index: 1;
//	filter: drop-shadow(1px 4px 4px rgba(25,25,127, 0.3));
}

.node {
	cursor: pointer;
}

.overlay{
	background-image: none;
	z-index: 1;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
	cursor: crosshair;
}

.node circle.nodeCircleTip {
	stroke: magenta;
}

.node circle:hover {
	stroke: red;
	stroke-width: 3px;
	stroke-opacity: 0.75;
}

.node text {
	font-size: 12px;
	font-family: sans-serif;
}

.node text:hover {
	font-weight: bold;
	fill: mediumblue;
}

.node image {
	cursor: auto;
}

.flag {
//	box-shadow: 0px 4px 7px rgba(127, 127, 127, 0.6);
	filter: drop-shadow(0px 4px 7px rgba(25,25,127, 0.6));
	-webkit-filter: drop-shadow(0px 2px 2px rgba(25,25,127, 0.6));
}

.a {
	text-decoration: underline;
	fill: #00f;
	cursor: pointer;
}

.link {
	fill: none;
	stroke: #c8c8f0;
	stroke-width: 1.0px;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.imagesTT {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;

	margin: auto;
	z-index: 1;
	background-color: #eff;
//	position: absolute;
}

div.descriptionTT {
	display: block;
	position: absolute;

	text-align: left;
	width: 600px;
	min-height: 20px;
	max-height: 400px;
	padding: 8px;
	font-size: 14px;
	color: #009;
	background-color: rgba(245, 254, 255, 0.95);
	border-style: double;
	border-color: #0cc;
	border-radius: 8px;
	overflow-y: scroll;
	z-index: 1;
}

div.closeB {
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
//	z-index: 2;
}

input#closeB[type=button] {
	font-weight: bold;
	padding: 3px 6px 2px 6px;
	background: #c33;
	filter: none;
}

div.TT {
	position: absolute;
	text-align: left;
	min-width: 1px; max-width: 500px;
	min-height: 1px; max-height: 600px;
	padding: 4px;
	font-size: .8em;
	color: #009;
	background-color: rgba(245, 254, 255, 0.95);
	border-style: double;
	border-color: #0cc;
	border-radius: 4px;
	pointer-events: none;
	z-index: 1;
//	overflow-y: scroll;
}

div.linkTip {
	display: block;
	position: top;
	margin-right: auto;
	margin-left: auto;
	width: 220px;
	padding: 4px 15px;
	text-align: center;
	text-decoration: underline;
	font-size: 12px;
	color: #55f;
	background-color: rgba(255, 240, 220, 0.99);
	zoom: 1;
	clear: both;
	border: none;
	cursor: auto;
	z-index: 2;
}
/*
 * End SVG tree
 */

.flex-cont-forms {
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: flex-end;
}

.flex-item-form {
	padding: 5px 0px 0px 0px;
}
